.container {
  max-width: 800px;
}

h1 {
  color: #130c03;
  font-weight: bold;
  font-size: 3rem;
}

p.lead {
  font-style: italic;
}

.btn-success {
  background-color: #7bd25a;
  border-color: #7bd25a;
}

